In [35]:
import pandas as pd
import numpy as np
import regex as re
import html

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import *

In [153]:
df = pd.read_csv('../data/labeled_data.csv', index_col=0)

In [154]:
df

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...
25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
25295,6,0,6,0,1,youu got wild bitches tellin you lies
25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [155]:
df["class"].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64

In [156]:
tweets = df.tweet

In [157]:
# balance data set by adding more neutral tweets from NLP coursework (currently too few neutral tweets)

In [158]:
tweets

0        !!! RT @mayasolovely: As a woman you shouldn't...
1        !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2        !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3        !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4        !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
                               ...
25291    you's a muthaf***in lie &#8220;@LifeAsKing: @2...
25292    you've gone and broke the wrong heart baby, an...
25294    young buck wanna eat!!.. dat nigguh like I ain...
25295                youu got wild bitches tellin you lies
25296    ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...
Name: tweet, Length: 24783, dtype: object

In [159]:
tweets[0]

"!!! RT @mayasolovely: As a woman you shouldn't complain about cleaning up your house. &amp; as a man you should always take the trash out..."

In [160]:
stpwds = set(stopwords.words('english'))

# fraction of words/tokens not in stopword list (total content)
def content_fraction(text):
    tokenised = [nltk.word_tokenize(w) for w in text]
    token_flat = [w for l in tokenised for w in l]
    num = [w for w in token_flat if w.lower() not in stpwds]
    frac = len(num)/len(token_flat)
    
    return frac

print(content_fraction(list(tweets)))

0.7412660813321796

In [161]:
def clean(tweet):
    # TRY WITH URLHERE METHOD
    url_regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    mention_regex = '@[\w\-]+'
    # remove repeated spaces
    parsed = re.sub('\s+', ' ', tweet)
    parsed = re.sub(url_regex, '', parsed)
    parsed = re.sub(mention_regex, '', parsed)
    parsed = html.unescape(parsed)
    # ADDED THIS
    parsed = re.sub(r'[^\s\w]', '', parsed)
    return parsed

In [162]:
# tweets = [t for t in df.tweet]
# cleaned = []
# for tweet in tweets:
#      cleaned.append(clean(tweet))

In [163]:
df.tweet = df.tweet.apply(lambda x: clean(x))

In [164]:
stemmer = nltk.stem.PorterStemmer()

def tokenize(tweet):
    parsed = stemmer.stem(tweet)
    parsed = nltk.word_tokenize(parsed)
    return parsed

df.tweet = df.tweet.apply(lambda x: tokenize(x))

In [165]:
df.tweet

0        [rt, as, a, woman, you, shouldnt, complain, ab...
1        [rt, boy, dats, coldtyga, dwn, bad, for, cuffi...
2        [rt, dawg, rt, you, ever, fuck, a, bitch, and,...
3                         [rt, she, look, like, a, tranni]
4        [rt, the, shit, you, hear, about, me, might, b...
                               ...
25291    [yous, a, muthafin, lie, right, his, tl, is, t...
25292    [youve, gone, and, broke, the, wrong, heart, b...
25294    [young, buck, wan, na, eat, dat, nigguh, like,...
25295          [youu, got, wild, bitches, tellin, you, li]
25296    [ruffled, ntac, eileen, dahlia, beautiful, col...
Name: tweet, Length: 24783, dtype: object

In [108]:
# def tokenize(tweet):
#     """Removes punctuation & excess whitespace, sets to lowercase,
#     and stems tweets. Returns a list of stemmed tokens."""
#     tweet = " ".join(re.split("[^a-zA-Z]*", tweet.lower())).strip()
#     #tokens = re.split("[^a-zA-Z]*", tweet.lower())
# #     tokens = [stemmer.stem(t) for t in tweet.split()]
#     return tweet

In [166]:
df

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,"[rt, as, a, woman, you, shouldnt, complain, ab..."
1,3,0,3,0,1,"[rt, boy, dats, coldtyga, dwn, bad, for, cuffi..."
2,3,0,3,0,1,"[rt, dawg, rt, you, ever, fuck, a, bitch, and,..."
3,3,0,2,1,1,"[rt, she, look, like, a, tranni]"
4,6,0,6,0,1,"[rt, the, shit, you, hear, about, me, might, b..."
...,...,...,...,...,...,...
25291,3,0,2,1,1,"[yous, a, muthafin, lie, right, his, tl, is, t..."
25292,3,0,1,2,2,"[youve, gone, and, broke, the, wrong, heart, b..."
25294,3,0,3,0,1,"[young, buck, wan, na, eat, dat, nigguh, like,..."
25295,6,0,6,0,1,"[youu, got, wild, bitches, tellin, you, li]"
25296,3,0,0,3,2,"[ruffled, ntac, eileen, dahlia, beautiful, col..."

In [168]:
df['class'].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64